@import url(http://fonts.googleapis.com/css?family=Dosis);
/* -- box model reset -- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* -- css reset -- */
body, ul {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
/* -- clearfix hack -- */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
body { 
    font-family: Verdana;
    color: #303631;
    font-size: 10pt;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    body#index {
        background-image: url('bg_01.jpg');
    }
    body#lingerie {
        background-image: url('bg_02.jpg');
    }
    body#badmode {
        background-image: url('bg_03.jpg');
    }
    body#nachtmode {
        background-image: url('bg_04.jpg');
    }
    body#heren {
        background-image: url('bg_05.jpg');
    }
    body#contact {
        background-image: url('bg_06.jpg');
    }
a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: #000000;
}
.clear {
    clear: both;
}
.hidden {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
#container {
    width: 1200px;
    height: 660px;
    position: relative;
    /*top: 50%;*/
    left: 50%;
    /*margin-top: -240px;*/
    /*margin-left: -466px;*/   
    margin-top: 1000px;
}
#logo {
    z-index: 1;
    height: 80px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;    
}
#transparant {
    z-index: 0;
    width: 978px;
    position: absolute;
    top: 60px;
    left: 190px;
    padding: 30px;
}
.dark {
    background-color: rgba(0, 0, 0, 0.1);
}
.light {
    background-color: rgba(255, 255, 255, 0.5);
}
    
/*******************
CONTENT
*******************/
#wrapper {
    position: relative;
}
main {
    max-width: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 30px;
}
#textfield {
    padding: 20px;
}
#imgList {
    margin: 0 auto;
}
.lingerie {
    display: inline-block;
    width: 16%;
    text-align: center;
}
.lingerie img {
    width: 105px;
}
.frontimage {
    width: 45%;
    margin: 15px;
}

/*******************
SOCIALMEDIA BUTTONS
*******************/
#socialmedia {
    position: absolute;
    right: 0;
    top: 130px;
}
#socialmedia div.twitter {
    height: 32px;
    width: 32px;
    background-image: url('socialmedia.png');
    background-position: 32px 64px;
    margin-bottom: 5px;
}
#socialmedia div.facebook {
    height: 32px;
    width: 32px;
    background-image: url('socialmedia.png');
    background-position: 0 0;
    margin-bottom: 5px;
}
#socialmedia div.googleplus {
    height: 32px;
    width: 32px;
    background-image: url('socialmedia.png');
    background-position: 0 32px;
}

/********************
MENU & FOOTER
********************/
nav {
    width: 100%;
    height: 40px;
}
nav ul li {
    display: inline-block;
    width: 16.2%;
    border-right: 1px solid #000000;
    text-align: center;
}
nav ul li:first-of-type {
    border-left: 1px solid #000000;
}
nav ul li a {
    text-transform: uppercase;
    color: #303631;
    font-size: 1.1em;
    font-weight: 900;
}
nav ul li a:hover {
    text-transform: uppercase;
    color: darkslateblue;
}
footer {
    width: 100%;
    margin-top: 20px;
}
footer ul li {
    text-transform: uppercase;
    color: #303631;
}
footer ul li {
    font-size: 0.8em;
}
footer ul li.item {
    display: table-cell;
    height: 12px;
    width: 20%;  /* (100 / numItems)% */    
    text-align: center;    
    white-space: nowrap;
}
footer ul li.item {
    border-right: 1px solid #303631;
    line-height: 16px;
}
footer ul li.first {
    display: table-cell;
    height: 12px;
    text-align: left;
    white-space: nowrap;
    padding-right: 20px;
}
footer ul li.first {
    border-right: 1px solid #303631;
    line-height: 16px;
}
footer ul li.last {
    display: table-cell;
    height: 12px;
    text-align: right;
    white-space: nowrap;
    padding-left: 20px;
}
footer ul li.last {
    line-height: 16px;
}

/*******************
FORM
*******************/
#contactform {
    float: left;
    width: 50%;
    font-family: 'Dosis';
    font-size: 1.2em;
    padding: 10px;
    text-align: left;
}

#contactform fieldset {
    border: 1px solid #EEEEEE;
    padding: 15px;
    border-radius: 3px;
}
#contactform legend {
    border: 1px solid #EEEEEE;
    color: #617797;
    margin-bottom: 0 !important;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 10px;
}
#contactform label {
    display: inline-block;
    float: left;
    font-size: 1em;
    height: 26px;
    line-height: 26px;
    width: 95px;
    padding-top: 5px;
}
#contactform input, #contactform textarea, #contactform select {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #666666;
    font-size: 1.2em;
    margin: 5px 0;
    padding: 5px;
    width: 350px;
    border-radius: 3px;
    font-family: 'Dosis';
}
#contactform textarea {
    min-height: 100px;
    resize: none;
}
#contactform input:focus, #contactform textarea:focus {
    border: 1px solid #eee;
    color: #444; 
    background: #fff; 
}
#contactform .button {
    border-radius: 10px;
    background-color: #000;
    color: #cccccc;
    font-size: 0.7em;
    text-transform: uppercase;
    padding: 10px;
    width: 100px;
    float: right;
}
#contactform .error {
    border: 1px solid #973d3d; 
    background: #f0bebe; 
    color: #a35959;
}
#contactform .error:focus {
    border: 1px solid #eee; 
    color: #a35959; 
}
#contactform #inputcaptcha {
    float: left;
    width: 50px;
    text-align: right;
    margin-right: 10px;
}
#contactform .succes {
    color: #2caa74;
}
#contactform .fail {
    color: #973d3d;
}

/*******************
MAP
*******************/
#info {
    float: right;
    height: 260px;
    width: 50%;
    background-color: #fff;
    font-family: 'Dosis';
    font-size: 1.2em;
    padding: 20px;
    text-align: center;
}